<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locale_config"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sudoku"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- SamsungBasicInteraction -->
        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />
        <!-- Samsung Icon flags -->
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <meta-data
            android:name="theming-meta"
            android:value="meta_998_sesl_app" />
        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/meta_998_sesl_app" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.AboutActivity" />
        <activity android:name=".ui.AboutMeActivity" />
        <activity
            android:name=".ui.DailySudokuActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SudokuLevelActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.OOBEActivity" />
        <activity android:name=".ui.SudokuActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.IntroActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="true"
            android:theme="@style/Theme.Sudoku.Splash">
            <!--Launcher-->
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--File select-->
            <intent-filter android:label="Import">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\..*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\..*\\.sudoku" />
                <data android:pathPattern=".*\\.sudoku" /-->
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/sudoku" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".ui.utils.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>